
.contenedor{
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

.bignumber{
    width: 360px;
    height: 600px;
    background-color: blueviolet;
    border-radius: 40px;
    background: linear-gradient(to bottom, #7F3FBF, 150px, #3F3FBF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary{
    width: 360px;
    height: 600px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    position:relative;
    display: flex;
    margin-top: 
    
}
.summary::after{
    position:absolute;
    top: 50px;
    left: 38px;
    content: '';
    width: 90%;
    height: 90%;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter:blur(14px);
    z-index: -1;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient( rgb(78, 15, 173), #5217c8);
    position: relative;
    top: -75px;
}
.result{
display: flex;
align-items: center;
justify-content: center;
color: rgb(168, 163, 163);
position: relative;
top: -78px;
font-size: 22px;
font-family: 'Hanken Grotesk', sans-serif;
font-weight: 500;
}
.setenta{
display: flex;
align-items: center;
justify-content: center;
color: white;
position: relative;
font-size: 90px;
bottom: -25px;
font-family: 'sans-serif'; 
font-weight: 700px;
}
.cien{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(168, 163, 163);
    position: relative;
    font-size: 18px;
    bottom: -18px;
    font-family: 'sans-serif'; 
    font-weight: 500px;  
}
.great{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: relative;
    font-size: 30px;
    bottom: -100px;
    font-family: 'Hanken Grotesk'; 
    font-weight: 500px; 
}
.porcentaje{
    display: flex;
    width: 23rem;
    color:rgb(168, 163, 163);
    position: absolute;
    bottom: -145px;
    right: -118px;
    font-size: 24px;
    font-family: 'Hanken Grotesk'; 
    font-weight: 500px; 
}
.porcentaje-dos{
    display: flex;
    width: 23rem;
    color:rgb(168, 163, 163);
    position: absolute;
    bottom: -179px;
    right: -140px;
    font-size: 24px;
    font-family: 'Hanken Grotesk'; 
    font-weight: 500px; 
}
.porcentaje-tres{
    display: flex;
    width: 23rem;
    color:rgb(168, 163, 163);
    position: absolute;
    bottom: -210px;
    right: -220px;
    font-size: 24px;
    font-family: 'Hanken Grotesk'; 
    font-weight: 500px; 
}
.cabecera{
    display: flex;
    width: 90rem;
    color:rgb(0, 0, 0);
    position: absolute;
    top:45px;
    left:45px;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: 500px; 
}
.reaction{
    width: 270px;
    height: 50px;
    background-color:#F8E6E6;
    border-radius: 8px 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:120px;
    left:45px;
}
.img-react{
    display: flex;
    left: 14px;
    position: absolute;
}
.text-react{
    font-family: 'Hanken Grotesk';
    color: #EB3F27;
    display: flex;
    position: absolute;
    font-size: 17px;
    left: 45px; 
}
.och-react{
    display: flex;
    position: absolute;
    font-size: 17px;
    color: #000000;
    right: 60px;
}
.react-react{
    display: flex;
    position: absolute;
    font-size: 17px;
    color:rgb(135, 133, 133);
    right: 20px;
}
.memory{
    width: 270px;
    height: 50px;
    background-color:#FFFBE5;
    border-radius: 8px 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:200px;
    left:45px;
}
.img-mem{
    display: flex;
    left: 14px;
    position: absolute;
}
.text-mem{
    font-family: 'Hanken Grotesk';
    color: #FFBA5E;
    display: flex;
    position: absolute;
    font-size: 17px;
    left: 45px; 
}
.nue-mem{
    display: flex;
    position: absolute;
    font-size: 17px;
    color: #000000;
    right: 60px;
}
.mem-mem{
    display: flex;
    position: absolute;
    font-size: 17px;
    color:rgb(135, 133, 133);
    right: 20px;
}
.verbal{
    width: 270px;
    height: 50px;
    background-color:#EFFAF8;
    border-radius: 8px 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:280px;
    left:45px;
}
.img-ver{
    display: flex;
    left: 14px;
    position: absolute;
}
.text-ver{
    font-family: 'Hanken Grotesk';
    color: #00B69B;
    display: flex;
    position: absolute;
    font-size: 17px;
    left: 45px; 
}
.sei-ver{
    display: flex;
    position: absolute;
    font-size: 17px;
    color: #000000;
    right: 60px;
}
.ver-ver{
    display: flex;
    position: absolute;
    font-size: 17px;
    color:rgb(135, 133, 133);
    right: 20px;
}
.visual{
    width: 270px;
    height: 50px;
    background-color:#ECEBF5;
    border-radius: 8px 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:360px;
    left:45px;
}
.img-vis{
    display: flex;
    left: 14px;
    position: absolute;
}
.text-vis{
    font-family: 'Hanken Grotesk';
    color: #201E7E;
    display: flex;
    position: absolute;
    font-size: 17px;
    left: 45px;
}
.sie-vis{
    display: flex;
    position: absolute;
    font-size: 17px;
    color: #000000;
    right: 60px;
}
.sie-sie{
    display: flex;
    position: absolute;
    font-size: 17px;
    color:rgb(135, 133, 133);
    right: 20px;
}
.button{
    width: 280px;
    height: 50px;
    background-color:rgb(52, 50, 50);
    border-radius: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:465px;
    left:45px;
}
.button:hover{
    background: linear-gradient(to bottom, #7F3FBF, #3F3FBF);
}
.cont{
    color: #ECEBF5;
    font-size: 20px;
    
}
